/************************************
 * Template: 4Site Template - Child Theme Custom
 * Project: Ocean Conservancy
 ***********************************/

/* Add a background image when the page is not embedded or in the page builder */
body:not(.embedded):not(#en__pagebuilder) {
	background: #fbfbfb url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1991/light_pattern.gif") repeat;
	background-position: left top;
}

